{
  "data": {
    "data": [
      {
        "safra": "01/2026",
        "count_leads": 11,
        "count_leads_monetizados": 4,
        "convertion_rate": 0.36363636363636365
      },
      {
        "safra": "02/2026",
        "count_leads": 5,
        "count_leads_monetizados": 0,
        "convertion_rate": 0
      }
    ],
    "time": "2026-02-24T18:07:26.865-03:00"
  },
  "timestamp": 1708801646865
}
